body {
  position: relative;
  height: 100%;
}

.form {
  background-color: rgba(99,29,29,0.95);
  width: 100%;
  height: 100%;
  color: #FFF;
}

.welcome {
  background-color: blue;
  width: 100%;
  height: 100%;
  align-items: center;
}

.gameplay {
  background-color: gray;
  width: 100%;
  padding: 10px 10px;
}

.absolute {
  position: absolute;
}

#content {
  width: 100%;
}

#google_map {
  width: 100%;
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z10 {
  z-index: 10;
}

.notification {
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  top: 0;
}

.attack-container {
  background-color: gray;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
}

.centerBlock {
  display: table;
  margin: 0 auto;
}

.navbar-margin {
  margin: 10px 10px;
}

.login-btn {
  text-align: right;
}
