body {
  position: relative;
  height: 100%;
  font-family: "LatoWeb";
    background: url('../img/backgrounds/home-bg.png') center top;
    background-size: cover;
}

.mt-10 {
  margin-top: 10px;
}
.mt-10 {
  margin-top: 10px;
}

.bodyHeight {
  height:100%;
}

.form {


  // background-color: rgba(99,29,29,0.95);
  width: 100%;
  height: 100%;
  color: #FFF;
}

.welcome {
  // background-color: blue;
  width: 100%;
  height: 100%;
  align-items: center;
}

.gameplay {
  background-color: gray;
  width: 100%;
  padding: 10px 10px;
}

.absolute {
  position: absolute;
}

#content {
  width: 100%;
}

#google_map {
  width: 100%;
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}
.z9 {
  z-index: 9;
}

.z10 {
  z-index: 10;
}

.z11 {
  z-index: 11;
}


.notification {
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  top: 0;
}

.attack-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
}

.centerBlock {
  display: table;
  margin: 0 auto;
}

#nav-bg {
  opacity: 0;
  display:none;
  background:rgba(0,0,0,0.8);
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  left:0;

  &.visible {
    display:block;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }

  &.hidden {
    display:none;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }
}





.navbar-margin {
  margin: 10px 10px;
}

  .navbar-inverse {
    background-color:transparent;
    border-color:transparent;

  }

  .navbar-inverse .navbar-nav > li > a {
    color: #f2f2f2;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size:22px;
  }

  .navbar-collapse {
    box-shadow: none;
  }

  .navbar-nav > li > a {
    // padding-top: 25px;
    // padding-bottom: 25px;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
  }

.login-btn {
 text-align: right;
}

.attack {
  width: 100%;
  text-align: center;
  background: url('../img/backgrounds/attack-bg.png') center top;
  background-size: cover;
  // background-color: yellow;
  // background-image: url(../img/brick-wallpaper.jpg);

  .monsterSprite {
    width:100%;


  }

  #monster_name {
    margin-top:15px;
    font-size:30px;
    color:#fff;
    font-family: 'LatoWebBlack';
    text-transform: uppercase;
  }

  span.monsterDivider {
    font-size:20px;
    color:#e8e8e8;
  }

  #monster_size {
    margin-top:15px;
    font-size:30px;
    color:#fff;
    font-family: 'LatoWebBold'
  }


  button#attack {
      background: url('../img/attack-button.png');
      background-position:0px 0px;
      width: 174px;
      height:174px;
      border:none;

      &:focus {
        background-position: 174px 0px;
      }

  }


  .monsterPoints {
    width: 100%;
    bottom: 250px;
  }

  .monsterAttack {
    width:100%;
    bottom:50px;
  }
}

#hp_container {
  margin: 20px;
  width: 400px;
  height: 8px;
}

/* This is the health bar container */
.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  height: 20px;
  padding: 5px;
  background: rgba(42,31,35,0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  position: relative;
  margin: 0 auto;
}

/* This is the health bar */
.bar {
  background: #c54;
  width: 100%;
  height: 10px;
  position: relative;
  border-radius: 5px;
  transition: width .5s linear;
}
/* This is the draggy animation */
.hit {
  background: rgba(200,255,255,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  transition: width .5s linear;
}

.img-responsive {
  // height: 100%;
}

.carousel-inner{
  width: 100%;
  // height: 100%;
  max-height: 300px;
}

.carousel {
  width: 100%;
  overflow: hidden;

  .item img {
    width: 100%;
    // height: 100%;
  }
}
