.marker {
  height: 300px;
  width: 300px;
  background-image: url(../img/walkingman-sprite.png);
}

.monster-marker {
  height: 107px;
  width: 100px;
  background-image: url(../img/wingedmonster-100x107.png);
}

//offset position needs to be fixed for dude
