.marker {
  height: 300px;
  width: 300px;
  background-image: url(../img/walkingman-sprite.png);
}

.monster-marker {
  height: 225px;
  width: 240px;
  background-image: url(../img/wingedmonster.png);
}

//offset position needs to be fixed for dude
