.playerMarker {
  top:50%;
  left:50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
  background-image: url(../img/gifman-50px.png);
}

.monster-marker {
  height: 100px;
  width: 113.3px;
  background-image: url(../img/s-monster-horizontal-100px.png);
}

.monster-fight {
  margin-top:30px;
  height: 300px;
  width: 348.3px;
  background-image: url(../img/s-monster-all-graphics.png);
}
